.logo-card {
    height: 200px;
    width: 200px;
    padding: "100px";
}

.btn {
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-text {
    padding: 50px;
    margin-bottom: 100px;
}

.second-text {
    margin-top: 400px;
}