.videos {
    display: flex;
    justify-content: center;
}

.videos-selection {
    margin-top: 50px;
    margin-left: 45px;
}

.sidebar {
    background-color: white;
    margin-top: 10px;
    height: 100%;
    width: 15%;
}

.video {
    margin-left: auto;
    margin-right: auto;
    display: block;
    display: table-cell;
    text-align: center;
    padding: 0px
}

.video-title {
    margin-bottom: 25px;
}

.video-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../img/bg-video.jpg");
    background-repeat: no-repeat;
}