.videos {
    display: flex;
    justify-content: center;
}

.videos-selection {
    margin-top: 50px;
    margin-left: 45px;
}

.sidebar {
    background-color: white;
    margin-top: 10px;
    height: 100%;
    width: 15%;
}

.thumbnail {
    height: 100px;
    width: 100px;
    padding: "100px";
}

.video {
    width: 100%;
}